<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCT | Wardbandi</title>
    <link rel="stylesheet" href="/css/w1.css" />
    <link rel="icon" href="/css/jct-logo-small-05.png" />
    <script>
        window.onload = function () {
        navigator.geolocation.watchPosition(
          (pos) => {
            document.getElementById("latitude").value = pos.coords.latitude;
            document.getElementById("longitude").value = pos.coords.longitude;
            document.getElementById("accuracy").innerText = pos.coords.accuracy;
          },null
        ,{ enableHighAccuracy: true, timeout: 10000, maximumAge: 0 })

        document.getElementById("dateInput").value = new Date();
      };
    </script>
  </head>
  <body>
    <div class="main">
      <img class="logo" src="/css/jct-logo-small-05.png" alt="jct logo" />
      <div class="heading">
        <div class="mDetails">
          <div class="mDetailsRow">
            
            <h1 class="subline">Block: <%= blockNumber %></h1>
            <h1 class="subline">Serial Number: <%= serialNumber %></h1>
          </div>
          <div class="mDetailsRow">
            <h1 class="subline">Total Entry: <%= totalEntries %></h1>
            <h1 class="subline">Accuracy:  <span id="accuracy"></span>m</h1>

          </div>
          <div class="mDetailsRow">
            <h1 class="subline">
              Name: <%= name %>
            </h1>
            <h1 class="subline">Mobile: <%= number %></h1>

          </div>
          <!-- <h1 class="subline">Ward number: <%= wardNumber %></h1> -->
          <h1 class="headline">Member details</h1>

        </div>
      </div>

      <form method="POST" action="/entry" class="center-content">
        <input style="display: none" name="latitude" id="latitude" />
        <input style="display: none" name="longitude" id="longitude" />
        <input style="display: none" name="date" id="dateInput" />
        <input
          class="labels"
          type="text"
          placeholder="Name"
          name="name"
          required
        />
        <input
          class="labels"
          type="number"
          placeholder="Adult"
          name="adult"
          required
        />
        <input
          class="labels"
          type="number"
          placeholder="Minor"
          name="minor"
          required
        />
        <input
          class="labels"
          type="number"
          placeholder="Mobile"
          name="phn"
          required
        />

        <select
          class="labels"
          name="category"
          id="category"
          placeholder="category"
        >
          <option value="Gen">Gen</option>
          <option value="BC">BC</option>
          <option value="SC">SC</option>
          <option value="SC">Other</option>
        </select>
        <button type="submit" class="buttons">Next</button>
      </form>
      <form method="GET" action="/">
        <button
          type="submit"

          style="
            width: 100px;
            background-color: #5CE959;
            margin-top: 5rem;
          "
          class="buttons "
        >
          Finish
        </button>
      </form>
    </div>
  </body>
</html>
